{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/iStock-496652404.jpg" "title" "Codeeducation" "subtitle" "Code, Design, Coffee and Technology") }}

{{ partial "short-text" (dict "heading" "Hello there!" "text" "We are an online learning resource for developers and designers of engaging websites and apps, presented in a funky magazine style!")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Learn more about us..." "subheading1" "Research" "svg1" "img/illustrations/iStock-505021766.jpg" "text1" "One aspect of being a developer, is that you, though you may not realise it, are a Researcher. We spend a lot of our time exploring ways of solving problems. So much so, that at times one thing leads to another and keeping track of where you are in the grand scheme of things is hard. We want to help solve this problem." "subheading2" "Mentoring" "svg2" "/img/illustrations/iStock-505642128.jpg" "text2" "We are working more frequently with other Developers, ranging from apprentices, through to highly experienced professionals. Most of these people face the same daily challenges as we do. Mentoring is a great way of helping people learn based on our own knowledge and experiences. In return we often learn quite a lot from the people we teach." "buttonText" "See all services" "buttonLink" "/services"  ) }}

{{ partial "text-and-image" (dict "heading" "Our courses" "text" "Technology has and still is changing our world with more and more people actively working in the Tech Sector nowadays, there has never been a better time to learn something new or top up on your existing skills. We are an experienced bunch of people with a plethora of talents for creating code that serves all kinds of purposes." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
