{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/iStock-496652404.jpg" "title" "Digital Consultancy" "subtitle" "Code, Design, UX, DX, Photography and Video") }}

{{ partial "2-up" (dict "subheading1" "Research" "svg1" "img/illustrations/iStock-505021766.jpg" "text1" "One aspect of being a developer, is that you, though you may not realise it, are a Researcher. We spend a lot of our time exploring ways of solving problems. So much so, that at times one thing leads to another and keeping track of where you are in the grand scheme of things is hard. We want to help solve this problem." "subheading2" "Mentoring" "svg2" "/img/illustrations/iStock-505642128.jpg" "text2" "We are working more frequently with other Developers, ranging from apprentices, through to highly experienced professionals. Most of these people face the same daily challenges as we do. Mentoring is a great way of helping people learn based on our own knowledge and experiences. In return we often learn quite a lot from the people we teach." "buttonText" "See all services" "buttonLink" "/services"  ) }}

{{ partial "blog" . }}

{{ partial "footer" . }}

{{ template "_internal/google_analytics.html" . }}